
# This workflow installs the package and runs the tests
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: pytest

on:
  push:
    branches: [ 'main' ]
  pull_request:
    branches: [ '**' ]

jobs:
  pytest:

    strategy:
      matrix:
        python-version:
        # keep consistent with py-version badge in README.md and doc/source/index.rst
        # update setup.cfg and doc/source/installation.rst when deprecating python 3.8
        - '3.10'
        - '3.9'
        - '3.8'

      fail-fast: false

    runs-on: ubuntu-latest
    name: py${{ matrix.python-version }}

    steps:
    - uses: actions/checkout@v3

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install the latest pyam version from source
      run: pip install git+https://github.com/IAMconsortium/pyam.git

    - name: Install (other) dependencies and package
      run: pip install --editable .[tests]

    - name: Test with pytest
      run: pytest tests
